
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

nav {
    font-family: 'Fredoka One', cursive;
}

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: red;
    width: 100vw;
    height: 20vh;
    display: flex;
}
main{
   /*  background-color: yellowgreen; */
    width: 100%;
}
footer{
    background-color: yellow;
    height: 10vh;
    width: 100vw;
}
body{
    width: 100vw;
    min-height: 100%;
    /* background-color: blue; */
}
.dflex{
    display: flex;
}
.column{
    flex-direction: column;
}
.logo-header {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.text-logo a {
    font-size: 2em;
}
.text-logo {
    margin-right: 2em;
    transition: all .2s 0s ease;
}
.text-logo:hover {
    transform: scale(1.05,1.05);
}
li a {
    margin-right: 3em;
h2{
    display: inline;
}
form{
    width: 400px;
    justify-content: center;
}


.logo {
    width: 100px;
    height: 100px;
    margin-right: 1em;
}
section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
/* index main alicia pak */
.main{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parrafo1{
    font-size: 1.5rem;
    border-radius: 1em;
    border: 1px dashed yellow;
    background-color: rgba(255, 255, 0, 0.144);
}
.parrafoIndex{
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: yellow;
    width: 580px;
    height: 380px;
    border-radius: 1em;
    font-size: 1.5rem;
    line-height: 150%;
    padding: 10px;
}
.h2{
    margin-bottom: 2em;
    font-size: 3rem;
}
.principal{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.imgIndex{
    border-radius: 1em;
    border: 1px solid yellow;
    width: 300px;
    height: 400px;
   object-fit: cover;
}
@media (max-width: 500px){
    .parrafoIndex{
        display: flex;
        align-content: stretch;
        line-height: 120%;
    }
}
/* index main alicia pak */
}


/* ESTILO DE TARJETAS. NO BORRAR.  */

.imgCartas{
    height: 200px;
    width: 200px;
}

.card-productos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    width: 260px;
    height: 400px;
    margin: 2rem 4rem;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 2em #0000004f;
    border: #fdff71 0.2em solid;
    transition: ease 0.5s;
}
.card-productos:hover {
    transform: scale(1.02);
}

.contenedor-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nombre-producto{
    text-align: center;
    margin: 0 1.5rem;
}
/* FIN DE ESTILO DE TARJETAS. NO BORRAR */
