
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

nav {
    font-family: 'Fredoka One', cursive;
}
nav a img{
    height: 50px;
    width: 50px;
}
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(243, 243, 243);
}
header{
    /* width: 100vw;
    height: 20vh; */
    display: flex;
}
.carousel-container {
    background-color:rgb(243, 243, 243);
    margin-top: 86px;
    width: 100%;
}
.carousel-item {
    height: 42rem;
    background-position: center;
    background-size: cover;
}
/* .carousel-inner img {
    width: 100%;
    height: 100%;
    } */

footer{
    display: flex;
    background-color: yellow;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
footer div{
    display: flex;
}
.horarios{
    background-color: yellow;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
footer div{
    display: flex;
}
.horarios{
    display: flex;
    flex-direction: column;
}
.horarios div{
    flex-direction: row;
    flex-wrap: wrap;
}
.horarios2{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    margin-left: 3em;
    padding-top: 1em;
}
.horarios div{
    flex-direction: row;
    flex-wrap: wrap;
}
.horarios2{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    margin-left: 3em;
    padding-top: 1em;
}
body{
    width: 100%;
    min-height: 100%;
    /* background-color: blue; */
}
.dflex{
    display: flex !important;
}
.column{
    flex-direction: column !important;
}
.logo-header {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.text-logo a {
    font-size: 2em;
}
.text-logo {
    margin-right: 2em;
    transition: all .2s 0s ease;
}
.text-logo:hover {
    transform: scale(1.05,1.05);
}
li a {
    margin-right: 3em;
}
h2{
    display: inline;
}
/* .contenedorForms{
    margin-top: 86px;
    justify-content: space-around;
    margin-bottom: 2em;
} */
.formMapa{
    width: 500px;
    height: 500px;
}
#formularioContacto{
    width: 500px;
    height: 500px;
}
/* .contenedorForms{
    margin-top: 86px;
    justify-content: space-around;
    margin-bottom: 2em;
} */
.formMapa{
    margin-top: 2em;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
.formularioContacto{
    margin-top: 86px;
    width: 400px;
    justify-content: center;
}
.logo {
    width: 100px;
    height: 100px;
    margin-right: 1em;
}
section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
/* index main alicia pak */
main{
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10em;
}
.formYmap {
    margin-top: 200px !important;
    width: 100%;
    justify-content: space-evenly;
}
.parrafo1{
    padding: 1em;
    text-align: center;
    font-size: 1.5rem;
    border: 1px dashed yellow;
    background-color: rgba(255, 255, 0, 0.144);
    display: flex;
    flex-wrap: wrap;
}
.parrafoIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 1.1rem;

}
.h2{
    background-image: url(/assets/perro.jpg);
    background-size: cover;
    background-position: 40% 40%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 1em;
    font-size: 3rem;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}
.principal{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.imgIndex{
    border: 1px solid yellow;
    width: 400px !important;
    height: 425px !important;
    object-fit: cover !important;
}
.fondoCard{
    background-color: rgba(255, 255, 0, 0.144);
}
.card2{
    display: flex;
    flex-direction: row-reverse;
}
.cardsIndex{
    border: 2px solid yellow;
}
@media (min-width: 765px) and (max-width: 990px){
    .imgIndex{
        object-fit: cover !important;
        height: 550px !important;
    }
}
@media (max-width: 767px) and (min-width: 403px){
    .cardsIndex{
        border: none;
    }
    .imgMedia{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1000px){
    .h2{
        text-align: left;
        padding-left: 0;
    }
}
/* index main alicia pak */
/* ESTILO DE TARJETAS. NO BORRAR.  */

.imgCartas{
    height: 200px;
    width: 200px;
}

.card-productos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    width: 260px;
    height: 400px;
    margin: 2rem 4rem;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 2em #0000004f;
    border: #fdff71 0.2em solid;
    transition: ease 0.5s;
}
.card-productos:hover {
    transform: scale(1.02);
}

.contenedor-cards{
    margin-top: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nombre-producto{
    font-size: large;
    font-weight: bolder;
    text-align: center;
    margin: 0 1.5rem;
}
/* FIN DE ESTILO DE TARJETAS. NO BORRAR */
h4 span{
    color: red;
    font-size: medium;
    font-weight: bolder;
}
.noshow{
    display: none;
}
.footerWilson{
    /* height: 200px; */
    height: auto;
    width: 100%;
    background-color:#0d6efd;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2em;
}
.footerWilson nav{
    width: 300px;
    /* background-color: red; */
}

.wilsonHorarios{
    width: 500px;
    height: 150px;
    /* background-color: rgb(180, 132, 132) */;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    flex-wrap: wrap;
}
.wilsonHorarios div{
   /*  background-color: green; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.wilsonMapa{
    width: 250px;
    height: 190px;
    box-shadow: 1px 1px 15px 0 black;
}
.wilsonLogo{
    width: 300px;
    /* background-color: red; */
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.wilsonLogo a{
    text-decoration: none;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    /* background-color: violet; */
}
.wilsonLogo a img{
    width: 100%;
    height: 100%;
}
.horarios-div {
    align-items: center;
    justify-content: center;
    margin: 1em;
    background-color: rgb(255, 255, 102);
    padding: 2em;
    box-shadow: 1px 1px 15px 0 rgb(51, 51, 51);
    border-radius: 25px;
    color: #000;
    font-weight: bolder;
}
@media screen and (max-width:700px) {
    .footerWilson{
        background-color: red;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width:600px) {
    .footerWilson{
        background-color: red;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }
    .wilsonHorarios{
        width: 350px;
        background-color: violet;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 20px;

    }
    
   
}
@media screen and (max-width:400px) {
    
    .wilsonHorarios{
        width: 100%;
        background-color: violet;
        display: flex;
        font-size: 14px;
        margin-bottom: 20px;
        flex-direction: column;

    }  
}
/* Inicio modificaciones Martín */
.spaceAround{
    justify-content: space-around !important;
}
.spaceBetween{
    justify-content: space-between !important;
}
.formYmap{
    margin-top: 86px;
}
.divFormulario{
    width: auto;
    border: 10px solid rgb(255, 230, 0);
    padding: 20px;
    box-shadow: 0px 1px 10px 0 #000;
    height: auto;
}
.divFormulario h2 {
    background-color: rgb(255, 238, 88);
    padding: .5em;
    border-radius: 25px;
    box-shadow: 0px 1px 10px 0 #000;
}
form input {
    background-color: #67a4ff;
    font-weight: bolder;

}
textarea {
    resize: none;
  }
label {
    width: 100%;
    font-size: 1.2em;
    font-weight: bolder;
}
label , input {
    margin-top: 1em;
}
.divMapa{
    width: 800px;
    box-shadow: 0px 1px 10px 0 #000;
}
.divMapa h2 {
    padding: .5em;
    width: 60%;
    margin: auto;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(255, 238, 88);
    box-shadow: 1px 0px 10px 0 #000;
}
.divMapa iframe{
    width: 800px;
}
#name, #last, #handy, #pet, #comentarios{
    background-color: #a0c6ff;
}
@media screen and (max-width:1000px) {
    .formYmap{
        margin-top: 86px;
        flex-direction: column;
        align-items: center;
    }
    .formMapa{
        width: 400px;
        height: 400px;
    }
    #formularioContacto{
        width: 400px;
        height: 400px;
    }
}
/*Fin modificaciones Martín*/
